.content {
  width: calc(100% - 200px*2);
  padding: 40px 0 66px;
}

@media screen and (max-width: 1040px) {
  .content  {
    width: calc(100% - 140px*2);
    padding-bottom: 60;
  }
}

@media screen and (max-width: 870px) {
  .content  {
    width: calc(100% - 80px*2);
    padding-bottom: 54;
  }
}

@media screen and (max-width: 520px) {
  .content  {
    width: calc(100% - 19px*2);
    padding: 42px 0 48px;
  }
}
