.elements {
  width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 1040px) {
  .elements  {
    margin-top: 45px;
  }
}

@media screen and (max-width: 870px) {
  .elements  {
    margin-top: 40px;
  }
}

@media screen and (max-width: 520px) {
  .elements  {
    margin-top: 36px;
  }
}
